@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
.searchBar
{
    text-align: center;
    margin: auto;
    font-size: 2rem;
    margin: 20px 0px;
    font-family:'Comfortaa', cursive;
}
.searchBar input,button
{
  font-family:'Comfortaa', cursive;
}
#header-search {
    font-size: 1.02rem;
    border: 1px solid black;
    height: 2em;
    width: 17em;
    border-radius: 5px;
}
.btn {
    font-size: 1.25rem;
    border: 2px solid;
    border-radius: 9px;
    transform: scale(1);
    transition: 0.25s ease-in-out;
  }
  .btn:hover {
    transform: scale(1.1);
    background: violet;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  